body {
    background-color: #74b3fb27;
}

.scoreText {
/* // font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Bodoni Moda', serif;
/* // 	Experiment with different fonts for more creative effects */
    width: 100%;
    height: 96px;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bb4afd;


/* // letter-spacing: 0.05em; */

    background-size: 10px 10px;
    background-image: linear-gradient(90deg, rgba(116, 118, 251, 0.816) 2px, rgba(0, 0, 0, 0) 0px), linear-gradient(rgba(129, 116, 251, 0.816) 2px, rgba(0, 0, 0, 0) 0px);

    text-shadow: 0 1px 0 #fdfacc, 0 2px 0 #fdfacc, 0 3px 0 #fdfacc,
    0 4px 0 #fdfacc, 0 5px 0 #fdfacc, 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);


    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,.274);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: #3c5077;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}